.double__column__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-large);
}

.form__right {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-tiny);
}

@container style(--is-mobile: true) {
    .double__column__form {
        grid-template-columns: 1fr;
    }
}