.products__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding-top: 6rem;
    padding-inline: var(--spacing-huge);
}

.products__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--spacing-large);
    width: 100%;
}

.products__title {
    font-size: var(--font-size-large);
    font-weight: 700;
}

.products__description {
    font-size: var(--font-size-medium);
    font-weight: 400;
}

.products__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--spacing-large);
    width: 100%;
    padding-block: var(--spacing-huge);
}

